[submodule "Specs/Runner/XMLHttpRequest"]
	path = Specs/Runner/XMLHttpRequest
	url = https://github.com/driverdan/node-XMLHttpRequest.git
[submodule "Specs/Runner/JsDOM"]
	path = Specs/Runner/JsDOM
	url = git@github.com:oelmekki/jsdom.git
